In [90]:
import pandas as pd

In [8]:
data = pd.read_csv('C:\\Users\\kedrovx\\OneDrive - Abbott\\Рабочий стол\\Admin\\DS\\PYDA_32\\power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [38]:
baltic_data = data [(data['country'] == 'Lithuania') | (data['country'] == 'Latvia') | (data['country'] == 'Estonia')]
baltic_data_count = baltic_data[(baltic_data['quantity'] > 0)]
baltic_data_year = baltic_data_count[(baltic_data_count['year'] > 2004) & (baltic_data_count['year'] <2011)]
baltic_consumption = baltic_data_year[(baltic_data_year['category'] == 4) | (baltic_data_year['category'] == 12) | (baltic_data_year['category'] == 21)]
baltic_consumption['quantity'].sum()

240580.0

In [47]:
films = pd.read_csv('C:\\Users\\kedrovx\\OneDrive - Abbott\\Рабочий стол\\Admin\\DS\\PYDA_32\\ml-25m\\ratings.csv')
top_films = films[(films['rating'] == 5)]
top_films.value_counts(normalize=True).head()

userId  movieId  rating  timestamp
1       296      5.0     1147880044    2.768186e-07
108112  1411     5.0     1105475706    2.768186e-07
        1256     5.0     1105469640    2.768186e-07
        1257     5.0     1105469629    2.768186e-07
        1263     5.0     1105475030    2.768186e-07
dtype: float64

In [54]:
course_url = 'https://www.finanz.ru/valyuty/usd-rub'
course = pd.read_html(course_url, attrs = {'class':'news_table'}, encoding = 'utf-8')
course[:10]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  27.05.22    665000    649250    690000   633750
 1  26.05.22    646750    603500    650000   585250
 2  25.05.22    596000    580001    605000   554995
 3  24.05.22    580000    590250    591000   555000
 4  23.05.22    585750    600250    610565   572230
 5  20.05.22    620000    610000    645000   579249,
        Имя  Unnamed: 1      %    курс                 Дата
 0  EUR/RUB         NaN -33559  689888  30.05.2022 23:35:00
 1  USD/RUB         NaN -37594      64  30.05.2022 22:29:00
 2  CHF/RUB         NaN -37358  668547  30.05.2022 23:34:00
 3  JPY/RUB         NaN -40696    5018  30.05.2022 23:35:00
 4  GBP/RUB         NaN -35525   80992  30.05.2022 23:35:00
 5  NOK/RUB         NaN -31834    6813  30.05.2022 23:35:00
 6  AUD/RUB         NaN -32251  460736  30.05.2022 23:33:00
 7  NZD/RUB         NaN -33683  419776  30.05.2022 23:34:00
 8  TRY/RUB         NaN -43576   39055  30.05.2022 23:34:00]

In [92]:
cb_url = 'https://cbr.ru/hd_base/infl/'
cb_courses = pd.read_html(cb_url, attrs = {'class':'data'}, encoding = 'utf-8')
cb_courses[:5]

[      Дата  Ключевая ставка, % годовых  Инфляция, % г/г  Цель по инфляции, %
 0   4.2022                        1700             1783                  400
 1   3.2022                        2000             1669                  400
 2   2.2022                        2000              915                  400
 3   1.2022                         850              873                  400
 4  12.2021                         850              839                  400]

In [98]:
cb_df = pd.DataFrame(cb_courses)

ValueError: DataFrame constructor not properly called!