In [4]:
import pandas as pd

# Задание 1

In [35]:
movies = pd.read_csv(r"C:\Users\vkedrova\Desktop\personal\Python\Data_Sciense_course\ml-latest-small\movies.csv")
raitings = pd.read_csv(r"C:\Users\vkedrova\Desktop\personal\Python\Data_Sciense_course\ml-latest-small\ratings.csv")
movies_base = pd.merge(movies, raitings, how ="outer", on = "movieId")
av_raitings = movies_base.groupby("movieId").mean("rating")
av_raitings.head()

             userId    rating     timestamp
movieId
1        338.558704  3.872470  1.103116e+09
2        318.906542  3.401869  1.069321e+09
3        374.423729  3.161017  9.662429e+08
4        355.538462  2.384615  9.277797e+08
5        320.785714  3.267857  9.967201e+08

In [37]:
def classifier (a):
    class_ = 0
    if a <= 2:
        class_ = "low"
    elif 2 < a <= 4.5:
        class_ = "average"
    elif 4.5 < a <= 5:
        class_ = "high"
    else: 
        class_ = "NA"
    return class_

In [38]:
av_raitings['class'] = av_raitings['rating'].apply(classifier)
av_raitings.head()

             userId    rating     timestamp    class
movieId
1        338.558704  3.872470  1.103116e+09  average
2        318.906542  3.401869  1.069321e+09  average
3        374.423729  3.161017  9.662429e+08  average
4        355.538462  2.384615  9.277797e+08  average
5        320.785714  3.267857  9.967201e+08  average

# Задание 2

In [150]:
cities = pd.read_csv(r"C:\Users\vkedrova\Desktop\personal\Python\Data_Sciense_course\ml-latest-small\keywords.csv")
cities.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [135]:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [154]:
def region_check (df):
    for k, v in geo_data.items():
            if df['keyword'] in v:
                region = k
                return region

In [157]:
cities['region'] = cities.apply(region_check, axis = 1).fillna('undefined')
cities.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [158]:
cities.groupby(['region']).count()

                keyword  shows
region
undefined         99991  99991
Дальний Восток        3      3
Северо-Запад          3      3
Центр                 3      3