In [1]:
import pandas as pd

In [2]:
hourse_data = pd.read_csv(r'C:\Users\vkedrova\Desktop\personal\Python\Data_Sciense_course\Statistics\horse_data.csv', usecols = [0, 1, 3, 4, 5, 6, 10, 22], names = ['surgery?', 'age','rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities','pain', 'outcome'] )

# Задание 1: чтение данных

In [3]:
hourse_data = hourse_data.replace('?', None) # при чтении '?' не NA, заменила
hourse_data = hourse_data.astype(float)

In [4]:
hourse_data.head()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1.0,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1.0,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1.0,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1.0,37.3,104.0,35.0,NaN,NaN,2.0

In [5]:
hourse_data.count()

surgery?                      299
age                           300
rectal temperature            240
pulse                         276
respiratory rate              242
temperature of extremities    244
pain                          245
outcome                       299
dtype: int64

# Задание 2: Анализ данных, поиск выбросов

In [6]:
hourse_data.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [7]:
print(hourse_data['rectal temperature'].median())
print(hourse_data['pulse'].median())
print(hourse_data['respiratory rate'].median())

38.2
64.0
24.5

Для непрерывных данных находим среднее и медиану без выбросов

In [51]:
rec_temp = hourse_data.dropna(subset = 'rectal temperature')
q1 = rec_temp['rectal temperature'].quantile(0.25)
q3 = rec_temp['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)

rec_temp[~rec_temp['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_23356\2662813383.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  rec_temp[~rec_temp['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
20,1.0,1.0,39.9,72.0,60.0,1.0,5.0,1.0
44,1.0,1.0,35.4,140.0,24.0,3.0,4.0,3.0
54,2.0,1.0,40.3,114.0,36.0,3.0,2.0,3.0
75,1.0,2.0,39.7,100.0,NaN,3.0,2.0,3.0
80,1.0,1.0,36.4,98.0,35.0,3.0,4.0,2.0
91,2.0,1.0,40.3,114.0,36.0,3.0,2.0,2.0
99,2.0,1.0,39.6,108.0,51.0,3.0,2.0,1.0
118,1.0,1.0,36.5,78.0,30.0,1.0,5.0,1.0
141,2.0,1.0,36.0,42.0,30.0,NaN,NaN,2.0
238,2.0,1.0,36.1,88.0,NaN,3.0,3.0,3.0
251,2.0,1.0,36.6,42.0,18.0,3.0,1.0,2.0
259,1.0,1.0,40.8,72.0,42.0,3.0,2.0,2.0
281,2.0,1.0,40.0,78.0,NaN,3.0,2.0,2.0
298,1.0,1.0,36.5,100.0,24.0,3.0,3.0,1.0

In [52]:
rec_temp = rec_temp[hourse_data['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
print(rec_temp['rectal temperature'].mean())
print(rec_temp['rectal temperature'].median())

38.16902654867257
38.2

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_23356\1805247126.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  rec_temp = rec_temp[hourse_data['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
C:\Users\vkedrova\AppData\Local\Temp\ipykernel_23356\1805247126.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rec_temp = rec_temp[hourse_data['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

In [47]:
pulse = hourse_data.dropna(subset = 'pulse')
q1 = pulse['pulse'].quantile(0.25)
q3 = pulse['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)

pulse[~pulse['pulse'].between(lower_bound, upper_bound, inclusive=True)]

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_23356\1300240097.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  pulse[~pulse['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2.0,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,2.0,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,2.0,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,2.0,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2.0,38.8,150.0,50.0,1.0,5.0,2.0

In [48]:
pulse = pulse[pulse['pulse'].between(lower_bound, upper_bound, inclusive=True)]
print(pulse['pulse'].mean())
print(pulse['pulse'].median())

70.25830258302582
64.0

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_23356\2597394551.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  pulse = pulse[pulse['pulse'].between(lower_bound, upper_bound, inclusive=True)]

In [49]:
resp_rate = hourse_data.dropna(subset = 'respiratory rate')
q1 = resp_rate['respiratory rate'].quantile(0.25)
q3 = resp_rate['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)

resp_rate[~resp_rate['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_23356\2181505474.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  resp_rate[~resp_rate['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2.0,39.1,164.0,84.0,4.0,2.0,2.0
39,1.0,2.0,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2.0,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,2.0,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1.0,37.8,60.0,80.0,1.0,2.0,1.0
103,1.0,2.0,38.0,140.0,68.0,1.0,3.0,1.0
106,1.0,1.0,38.3,52.0,96.0,NaN,NaN,1.0
120,1.0,1.0,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1.0,38.0,42.0,68.0,4.0,3.0,1.0
186,1.0,1.0,39.3,64.0,90.0,2.0,NaN,1.0
208,1.0,1.0,37.8,88.0,80.0,3.0,NaN,3.0
229,1.0,2.0,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,2.0,38.2,124.0,88.0,1.0,2.0,1.0
255,1.0,2.0,38.8,184.0,84.0,1.0,4.0,2.0
265,2.0,1.0,NaN,56.0,68.0,3.0,3.0,3.0
269,1.0,1.0,39.3,64.0,90.0,2.0,NaN,1.0
295,1.0,1.0,NaN,120.0,70.0,4.0,2.0,3.0

In [50]:
resp_rate = resp_rate[resp_rate['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]
print(resp_rate['respiratory rate'].mean())
print(resp_rate['respiratory rate'].median())

26.715555555555557
24.0

C:\Users\vkedrova\AppData\Local\Temp\ipykernel_23356\3242586881.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  resp_rate = resp_rate[resp_rate['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]

Для категориальных данных анализируем состав и находим моду

In [12]:
print(hourse_data['age'].value_counts())
print(hourse_data['temperature of extremities'].value_counts())
print(hourse_data['pain'].value_counts())
print(hourse_data['outcome'].value_counts())

1.0    276
9.0     24
Name: age, dtype: int64
3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64
3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64
1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

Значения 9 в описании поля "age" нет, но есть значение 2, можно, что произошла ошибка

In [13]:
hourse_data['age'] = hourse_data['age'].replace(9, 2)
hourse_data['age'].value_counts()

1.0    276
2.0     24
Name: age, dtype: int64

In [54]:
print(hourse_data['age'].mode([0]))
print(hourse_data['temperature of extremities'].mode([0]))
print(hourse_data['pain'].mode([0]))
print(hourse_data['outcome'].mode([0]))

0    1.0
Name: age, dtype: float64
0    3.0
Name: temperature of extremities, dtype: float64
0    3.0
Name: pain, dtype: float64
0    1.0
Name: outcome, dtype: float64

# Задание 3: заполнение пропусков

In [14]:
hourse_data.count()

surgery?                      299
age                           300
rectal temperature            240
pulse                         276
respiratory rate              242
temperature of extremities    244
pain                          245
outcome                       299
dtype: int64

In [15]:
upd_hourse_data = hourse_data.copy()

В поле "outcome" есть одно неустановленное значение (3). Исходя из того, что другие параметры этого значения ближе к 2 (умершие животные), предложила бы заменить этот пропуск на 2, также можно предположить, что при данных параметрах у животного была операция

In [16]:
upd_hourse_data[upd_hourse_data['outcome'].isnull()]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1.0,38.0,48.0,20.0,3.0,4.0,NaN

In [17]:
print(upd_hourse_data.groupby(['outcome'])['pain'].agg(pd.Series.mode))
print(upd_hourse_data.groupby(['outcome'])['pulse'].median())
print(upd_hourse_data.groupby(['outcome'])['rectal temperature'].median())
print(upd_hourse_data.groupby(['outcome'])['age'].agg(pd.Series.mode))
print(upd_hourse_data.groupby(['outcome'])['temperature of extremities'].agg(pd.Series.mode))

outcome
1.0    3.0
2.0    5.0
3.0    2.0
Name: pain, dtype: float64
outcome
1.0    54.0
2.0    86.0
3.0    82.0
Name: pulse, dtype: float64
outcome
1.0    38.20
2.0    38.10
3.0    38.05
Name: rectal temperature, dtype: float64
outcome
1.0    1.0
2.0    1.0
3.0    1.0
Name: age, dtype: float64
outcome
1.0    1.0
2.0    3.0
3.0    3.0
Name: temperature of extremities, dtype: float64

In [18]:
upd_hourse_data['outcome'] = upd_hourse_data['outcome'].fillna(2)
upd_hourse_data['surgery?'] = upd_hourse_data['surgery?'].fillna(1)

Температура конечностей у лошадок, которые умерли, была ожидаемо ниже, при этом у всех (оперированных и не оперированных) животных она снижена, имеет смысл заполнить модой в зависимости от исхода (outcome)

In [19]:
print(upd_hourse_data.groupby(['outcome'])['temperature of extremities'].agg(pd.Series.mode))
print(upd_hourse_data.groupby(['surgery?'])['temperature of extremities'].agg(pd.Series.mode))

outcome
1.0    1.0
2.0    3.0
3.0    3.0
Name: temperature of extremities, dtype: float64
surgery?
1.0    3.0
2.0    3.0
Name: temperature of extremities, dtype: float64

In [20]:
upd_hourse_data['temperature of extremities'] = upd_hourse_data['temperature of extremities'].fillna(upd_hourse_data.groupby('outcome')['temperature of extremities'].transform(lambda x: x.mode()[0]))

Кажется, что температура ниже у более старших животных, можно заполнить средним в зависимости от возраста

In [21]:
print(upd_hourse_data.groupby('age')['rectal temperature'].mean())
print(upd_hourse_data.groupby('age')['rectal temperature'].median())

age
1.0    38.124545
2.0    38.645000
Name: rectal temperature, dtype: float64
age
1.0    38.1
2.0    38.6
Name: rectal temperature, dtype: float64

In [22]:
upd_hourse_data['rectal temperature'] = upd_hourse_data['rectal temperature'].fillna(upd_hourse_data.groupby('age')['rectal temperature'].transform('mean'))

Пульс заметно снижен у животных, которым потребовалась операция

In [23]:
print(upd_hourse_data.groupby('surgery?')['pulse'].mean())
print(upd_hourse_data.groupby('surgery?')['pulse'].median())

surgery?
1.0    76.224242
2.0    65.504505
Name: pulse, dtype: float64
surgery?
1.0    70.0
2.0    56.0
Name: pulse, dtype: float64

In [24]:
upd_hourse_data['pulse'] = upd_hourse_data['pulse'].fillna(upd_hourse_data.groupby('surgery?')['pulse'].transform('median'))

In [25]:
print(upd_hourse_data.groupby('surgery?')['pulse'].mean())
print(upd_hourse_data.groupby('surgery?')['pulse'].median())

surgery?
1.0    75.674033
2.0    64.865546
Name: pulse, dtype: float64
surgery?
1.0    70.0
2.0    56.0
Name: pulse, dtype: float64

Показатель respiratory rate по описанию имеет высокий уровень флуктуаций, однако, похоже, что у животных, которым была сделана операция, он ниже, можно заполнить средним/медианой.
Т.к. они находятся далеко за пределами нормальных значений, описанных в справочном файле (8-10), реальном кейсе я бы не заполняла эти данные, в рамках упражнения предлагаю заполнить медианой

In [26]:
print(upd_hourse_data.groupby('surgery?')['respiratory rate'].mean())
print(upd_hourse_data.groupby('surgery?')['respiratory rate'].median())

surgery?
1.0    33.282759
2.0    26.134021
Name: respiratory rate, dtype: float64
surgery?
1.0    28.0
2.0    24.0
Name: respiratory rate, dtype: float64

In [27]:
upd_hourse_data['respiratory rate'] = upd_hourse_data['respiratory rate'].fillna(upd_hourse_data.groupby('surgery?')['respiratory rate'].transform('median'))

Среди животных, которым не потребовалась операция, боль была менее выражена, можно заполнить модой в зависимости от проведенной операции

In [28]:
print(upd_hourse_data.groupby(['surgery?'])['pain'].agg(pd.Series.mode))

surgery?
1.0    3.0
2.0    1.0
Name: pain, dtype: float64

In [29]:
upd_hourse_data['pain'] = upd_hourse_data['pain'].fillna(upd_hourse_data.groupby('surgery?')['pain'].transform(lambda x: x.mode()[0]))

In [30]:
upd_hourse_data.count()

surgery?                      300
age                           300
rectal temperature            300
pulse                         300
respiratory rate              300
temperature of extremities    300
pain                          300
outcome                       300
dtype: int64

In [31]:
hourse_data.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [32]:
upd_hourse_data.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.396667,1.080000,38.166182,71.386667,29.656667,2.256667,2.840000,1.553333
std,0.490023,0.271746,0.657292,27.579083,15.938179,1.052528,1.270083,0.736408
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.124545,64.500000,28.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,34.250000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000